
@font-face {
    font-family: myFirstFont;
    src: url(Starjedi.ttf);
  }

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: myFirstFont;
}



#masterName{
    align-self: center;
    font-size: 36px;
}

button{
    border-radius: 4px;
    padding:0.5%;
    font-weight: bold;
}

.playButtons{
    color: white;
    background-color: black;
    font-family: myFirstFont;
}

.buttonsContainer{
    width: 80%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.bc_row{
    margin-top: 1%;
}

.letterButton{
    width: 8%;
}

#playAgain{
    margin-top:2%
}

#resultGif{
    margin:1%;
}

